{% extends "layout.html" %}

{% block title %}
<title>Effit - {{ community.name }}</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}

<div id="community-detail">
    <h2>Community: {{ community.name }}</h2>
    <p>Description: {{ community.description }}</p>
</div>

<div id="posts">
    <h2>All Posts</h2>
    {% for post in posts %}
    <div class="post-item" id="post-{{ post.id }}">
        <div class="post">
            <div class="vote">
                <button class="upvote" onclick="vote('{{ post.id }}', '{{ post.slug }}', '{{ post.community.name }}', 'upvote')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                      <path d="M7.247 4.86l-4.796 5.481c-.646.74.037 1.659.877 1.659h9.392c.839 0 1.523-.92.877-1.659l-4.796-5.48a1 1 0 0 0-1.554 0z"/>
                    </svg>
                </button>
                <span class="score">{{ post.score }}</span>
                <button class="downvote" onclick="vote('{{ post.id }}', '{{ post.slug }}', '{{ post.community.name }}', 'downvote')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                      <path d="M7.247 11.14l-4.796-5.481c-.646-.74.037-1.659.877-1.659h9.392c.839 0 1.523.92.877 1.659l-4.796 5.481a1 1 0 0 1-1.554 0z"/>
                    </svg>
                </button>
            </div>
            <div class="post-info">
                <h3>
                    {% if post.is_link_post %}
                    <a class="title may-blank loggedin" href="{{ post.link }}">{{ post.title }}</a>
                    {% else %}
                    <a class="title may-blank loggedin" href="/c/{{ community.name }}/p/{{ post.slug }}">{{ post.title }}</a>
                    {% endif %}
                    </h3>
                    {% if post.is_link_post %}
                    <span class="domain">(<a href="{{ post.link }}">{{ post.link }}</a>)</span>
                    {% else %}
                    <span class="domain">(<a href="{{ url_for('community_posts', community_name=post.community.name) }}">self.{{ post.community.name }}</a>)</span>
                    {% endif %}
                <p class="tagline">
                    <span>{{ post.score }} points</span> 
                    submitted <time datetime="{{ post.created_at.isoformat() }}">{{ post.created_at }}</time>
                    by <a href="{{ url_for('user_posts', username=post.author.username) }}" class="author may-blank id-t2_d2kpf">{{ post.author.username }}</a>
                    to <a href="{{ url_for('community_posts', community_name=post.community.name) }}" class="subrs hover may-blank">{{ post.community.name }}</a>
                </p>
                <ul class="flat-list buttons">
                    <li class="first">
                        <a href="{{ url_for('post_detail', community_name=post.community.name, post_slug=post.slug) }}" class="bylink comments may-blank" rel="nofollow">
                            {{ post.comments|length }} comments
                        </a>
                    </li>
                    <li class="share"><a class="post-sharing-button">share</a></li>
                    <li class="link-save-button save-button login-required"><a>save</a></li>
                    <li class="give-gold-button"><a href="#" class="give-gold login-required access-required gold-give-gold" rel="nofollow">give award</a></li>
                    <li class="report-button login-required"><a href="#" class="reportbtn access-required">report</a></li>
                    <li class="crosspost-button"><a class="post-crosspost-button">crosspost</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function vote(postId, postSlug, communityName, action) {
        $.ajax({
            url: `/post/${communityName}/${postSlug}/${action}`,
            method: 'POST',
            success: function(data) {
                // Update the score on the page
                $(`#post-${postId} .score`).text(data.score);
                // Add 'clicked' class to the clicked arrow and remove it from the other one
                if (action === 'upvote') {
                    $(`#post-${postId} .upvote`).addClass('clicked');
                    $(`#post-${postId} .downvote`).removeClass('clicked');
                } else if (action === 'downvote') {
                    $(`#post-${postId} .upvote`).removeClass('clicked');
                    $(`#post-${postId} .downvote`).addClass('clicked');
                }
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }
    </script>
    
    
{% endblock %}
