<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>effit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
    <script src="{{ url_for('static', filename='showdown.min.js') }}"></script>
    <script src="/static/simplemde.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" class="logo">effit</a>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if 'username' not in session %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <main>
        <div id="container">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="sidebar">
                {% if 'username' in session %}
                <div class="create-form">
                    <h2>Create a Community</h2>
                    <form action="/create_community" method="post">
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" value="{{ request.form.name | escape }}"><br>
                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description">{{ request.form.description | escape }}</textarea><br>
                        <input type="submit" value="Create">
                    </form>
                </div>
                <div class="create-form">
                    <form action="{{ url_for('create_post') }}" method="post">
                    {% if community_id %}
                    <input type="hidden" name="community_id" value="{{ community_id }}">
                    {% else %}
                    <input type="hidden" name="community_id" value="{{ default_community_id }}">
                    {% endif %}
                    <input type="submit" value="Create Post">
                    </form>
                </div>
                {% else %}
                <p>You must be logged in to create a post or community!</p>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>
